---
- hosts: Tomcat
  become: true
  tasks:
    - name: Ensure deployments directory exists
      ansible.builtin.file:
        path: /home/ubuntu/deployments
        state: directory
        mode: '0755'
    - name: copy deployment file to kubernetesmaster
      copy:
        src: /etc/ansible/opt/playbooks/app-deployment.yml
        dest: /home/ubuntu/deployments
    - name: copy service file to kubernetesmaster
      copy:
        src: /etc/ansible/opt/playbooks/service.yml
        dest: /home/ubuntu/deployments    
