apiVersion: v1
kind: Service
metadata:
  labels:
    env: dev
    type: app
  name: hello-world
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
    nodePort: 30005
  selector:
    env: dev
    type: app
  type: NodePort
